<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		<script src="/javascripts/filter.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% if(adminLogin){ %>
				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
					<% include admmnu %>
				</div>
				<div id="workArea" class="main-panel">
					<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-end">
								<ul class="navbar-nav">
									<% include admheader %>
								</ul>
							</div>
						</div>
					</nav>
					<div class="content">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
									<h2>Список абонементов</h2>
								</div>
								<div class="col-md-12">
									<a href="/admin/abonements/add" class="btn btn-primary btn-create-event">Создать новый абонемент</a>
								</div>
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<div class="table-responsive">
												<table class="table trans">
													<thead class="text-primary">
														<th scope="col">ID</th>
														<th scope="col">Цена</th>
														<th scope="col">Трибуна и сектор</th>
														<th scope="col">Ряд</th>
														<th scope="col">Место</th>
														<th scope="col">SeatID</th>
														<th scope="col">IDs мероприятий</th>
													</thead>
													<tbody>
														<% abonList.forEach(function(abonRow) { %>
															<tr>
																<td scope="row"><%= abonRow.ID %></td>
																<td><%= abonRow.Price %></td>
																<td><%= abonRow.SectorName %></td>
																<td><%= abonRow.RowN %></td>
																<td><%= abonRow.SeatN %></td>
																<td><%= abonRow.SeatID %></td>
																<td><%= abonRow.eventsIDs %></td>
															</tr>
														<% }); %>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

