<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="container">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
					<% include admheader %>
					<% include admmnu %>
					<div id="workArea">
						Редактирование мероприятия
						<div class="container">
							<form name="formEvent">
								<div class="form-group">
									<button type="button" id="btnSaveEvent" name="btnSaveEvent" value="SaveEventClick">Сохранить</button>
									<button type="button" id="btnDeleteEvent" name="btnDeleteEvent" value="DeleteEventClick">Удалить</button>
									<p id="txResultMsg"></p>
								</div>
								<% eventData.forEach(function(eventRow) { %>
									<div class="col-md-3">
										<p><label>ID: </label> <span id="eventID" data-value="<%= eventRow.ID %>"><%= eventRow.ID %></span></p>
										<p><label>Текущий статус: </label> <span id="eventIDStatus" data-value="<%= eventRow.IDStatus %>"><%= eventRow.StatusName %></span></p>
										<div class="form-group">
											<label for="eventName">Наименование:</label>
											<input type="text" class="form-control" id="eventName" value="<%= eventRow.Name %>" placeholder="название мероприятия" />
										</div>
										<div class="form-group">
											<label for="eventDateFrom">Начало:</label>
											<input type="datetime-local" class="form-control" id="eventDateFrom" value="<%= eventRow.DateFrom %>" placeholder="начало" />
										</div>
										<!--
										<div class="form-group">
											<label for="eventDateTo">Окончание:</label>
											<input type="datetime-local" class="form-control" id="eventDateTo" value="<%= eventRow.Dateto %>" placeholder="конец">
										</div>
										-->
										<div class="form-group">
											<label for="stadiumsList">Стадион:</label>
											<span id="eventIDStadium" hidden><%= eventRow.IDStadium %></span>
											<select name="stadiumsList" id="stadiumsList">
												<option value="<%= eventRow.IDStadium %>" selected><%= eventRow.Stadium %></option>
												<% stadiums.forEach(function(stadiumRow) { %>
													<% if (stadiumRow.ID != eventRow.IDStadium ){ %>
													<option value="<%= stadiumRow.ID %>"><%= stadiumRow.Name %></option>
													<% } %>
												<% }); %>
											</select>
										</div>
										<div class="form-group">
											<% if (eventRow.ShowOnline) { %>
												<input type="checkbox" id="eventShowOnline" checked>Показать online</input>
											<% } else { %>
												<input type="checkbox" id="eventShowOnline">Показать online</input>
											<% } %>
										</div>
										<div class="form-group">
											<% if (eventRow.ShowCasher) { %>
												<input type="checkbox" id="eventShowCasher" checked>Показать кассиру</input>
											<% } else { %>
												<input type="checkbox" id="eventShowCasher">Показать кассиру</input>
											<% } %>
										</div>
										<div class="form-group">
											<% if (eventRow.ShowAPI) { %>
												<input type="checkbox" id="eventShowAPI" checked>Показать для API</input>
											<% } else { %>
												<input type="checkbox" id="eventShowAPI">Показать для API</input>
											<% } %>
										</div>
										<!--<div class="form-group">
											<button type="button" id="btnGenerateTickets" onclick="GenerateTickets();">Генерация билетов</button>
											<p id="GenerateTicketsMSG"></p>
										</div>-->
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="eventImage">Афиша:</label>
											<input type="file" id="eventImageFile" name="eventImageFile" style="display: none;" />
											<button type="button" onclick="ClickNewImg();">Сменить</button>
											<img id="eventImage" src="../../images/events/<%= eventRow.ImgPath %>" alt="afisha" width="200" height="300" />
										</div>
									</div>
								<% }); %>
							</form>
						</div>
						
						<hr>
						<div class="container">
							<form name="formPrice">
								<div class="col-md-1">
									<select id="selSectorList" multiple>
										<% sectors.forEach(function(seatRow) { %>
											<option value="<%= seatRow.ID %>"><%= seatRow.SectorName %></option>
										<% }); %>
									</select>
								</div>
								<div class="col-md-3">
									<table class="table table-bordered table-hover" id="rowsTable">
									  <tr>
										<th>Сектор</th>
										<th>Ряд</th>
									  </tr>
									  <% rownums.forEach(function(rownumRow) { %>
									   <tr class="clickable-row">
										<td><%= rownumRow.SectorName %></td>
										<td><%= rownumRow.RowN %></td>
									   </tr>
									  <% }); %>
									</table>
								</div>
								<div class="col-md-2">
									<input type="text" name="txPrice" value="0" />
									<button type="button" id="savePrice">Сохранить цену</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<script>
					$(document).ready(function(){
						GetStadiumList();
					});
					
					function GetStadiumList(){
						$.ajax({
							url: '/admin/stadiumsJson',
							type: "GET",
							success: function(result){
								$('select#stadiumsList').empty();
								$.each(result, function(index) {
									if (result[index].ID == $("#eventIDStadium").val()) {
										$('select#stadiumsList').append(
												$('<option selected></option>')
												.val(result[index].ID)
												.html(result[index].Name)
										);
									}
									else {
										$('select#stadiumsList').append(
												$('<option></option>')
												.val(result[index].ID)
												.html(result[index].Name)
										);
									}
								});
							}
						});
					};
					
					$("#btnSaveEvent").on('click', function(){
						var nEventID = 0;
						nEventID = $("#eventID").data("value");
						console.log("btnSaveEvent click: nEventID="+nEventID);
						$.ajax({
							url: "/admin/event/"+nEventID,
							type: "POST",
							data: {
								postOperation: 'upd',
								eventID: $("#eventID").val(),
								eventName: $("#eventName").val(),
								eventDateFrom: $("#eventDateFrom").val(),
								stadiumID: $("select#stadiumsList").val(),
								eventAfisha: $("#eventImageFile").val()
								},
							success: function(result){
									console.log("POST upd /admin/event/id success: result="+result);
									$("#txResultMsg").html(result);
									//--------------
									//TODO: after develop this functional we must delete this command:
									ClearMsg("#txResultMsg");
									//--------------
								},
							error: function(err){
								console.log("POST /admin/event/id error:");
								console.log(err);
							}
						});
					});
					
					$("#btnDeleteEvent").on('click', function(){
						var nEventID = 0;
						nEventID = $("#eventID").data("value");
						console.log("btnDeleteEvent click: nEventID="+nEventID);
						$.ajax({
							url: "/admin/event/"+nEventID,
							type: "POST",
							data: {
								postOperation: 'del',
								eventID: $("#eventID").val(),
								eventName: $("#eventName").val(),
								eventDateFrom: $("#eventDateFrom").val(),
								stadiumID: $("select#stadiumsList").val(),
								eventAfisha: $("#eventImage").val()
								},
							success: function(result){
									console.log("POST del /admin/event/id success: result="+result);
									$("#txResultMsg").html(result);
									//--------------
									//TODO: after development this functional we must delete this command:
									ClearMsg("#txResultMsg");
									//--------------
								},
							error: function(err){
								console.log("POST /admin/event/id error:");
								console.log(err);
							}
						});
					});
					
					$('#rowsTable').on('click', '.clickable-row', function(event) {
					  //$(this).addClass('active').siblings().removeClass('active');
					  if($(this).hasClass('active')){
						$(this).removeClass('active'); 
					  } else {
						$(this).addClass('active').siblings().removeClass('active');
					  }
					});
					
					function ClickNewImg(){
						$("input[id='eventImageFile']").click();
						var sImgFileName = $('eventImageFile').val();
						$('#eventImage').attr('src', '../../images/events/' + sImgFileName);
					};
					
					/*function GenerateTickets(){
						var sEventID = $("#eventID").val();
						$.ajax({
							url: '/admin/generateTickets',
							type: "POST",
							data: {
								eventID: sEventID
							},
							success: function(result){
								$("#GenerateTicketsMSG").html("Генерация билетов скоро будет разработана");
								//--------------
								//TODO: after development this functional we must delete this command:
								ClearMsg("#GenerateTicketsMSG");
								//--------------
							},
							error: function(err){
								console.log("GenerateTickets error:");
								console.log(err);
								$("#GenerateTicketsMSG").html("Есть какая-та ошибка");
								//--------------
								//TODO: after development this functional we must delete this command:
								ClearMsg("#GenerateTicketsMSG");
								//--------------
							}
						});
					};*/
					function ClearMsg(msgElement){
						window.setTimeout( function(){
							$(msgElement).html("");
						}, 5000 );
					}
				</script>
			<% } else { %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

