<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="container">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
					<% include admheader %>
					<% include admmnu %>
					<div id="workArea">
						Мероприятия
						<div class="container">
							<div class="row">
								<!--<form action="/admin/events/" method="POST">-->
									<button id="btnCreateEvent" value='NewEvent' type="button">Создать новое</button>
								<!--</form>-->
								<p id="resultCreateMsg"></p>
							</div>
							<div id="workArea" class="row">
							<% if(eventsList) { %>
								<% eventsList.forEach(function(eventRow) { %>
								<div class="col-sm-6 col-md-3">
									<div class="thumbnail">
										<a href="/admin/event/<%= eventRow.ID %>">
											<img src="../images/events/<%= eventRow.ImgPath %>" width="250px" height="350px" alt="<%= eventRow.Name %>" />
										</a>
										<div class="caption">
											<span><%= eventRow.ID %>: </span>
											<h3><%= eventRow.Name %></h3>
											<p><strong>Дата и время:</strong> <%= eventRow.DateFrom %></p>
											<p><strong>Место:</strong> <%= eventRow.Stadium %></p>
										</div>
									</div>
								</div>
								<% }); %>
							<% } %>
							</div>
						</div>
					</div>
					<script>
						$("#btnCreateEvent").click(function(){
							console.log("btnCreateEvent click");
							$("#resultCreateMsg").html('Функционал создания нового мероприятия находится в разработке');
							
							/*$.ajax({
								url: "/admin/events/",
								type: "POST",
								data: {},
								success: function(result){
									console.log("success");
								},
								error: function(err){
									console.log("btnCreateEvent GET /admin/event/id error:");
									console.log(err);
								}
							});*/
						});
					</script>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

