<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
		<script src="/javascripts/priceEditor.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% if(adminLogin){ %>
				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
					<% include admmnu %>
				</div>
				<div id="workArea" class="main-panel">
					<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-end">
								<ul class="navbar-nav">
									<% include admheader %>
								</ul>
							</div>
						</div>
					</nav>
					<div id="workArea" class="content">
						<div class="container-fluid">
							<div class="col-md-12">
								<h2>Редактирование мероприятия</h2>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<form name="formEvent">
											<div class="form-group">
												<button type="button" class="btn btn-primary" id="btnSaveEvent" name="btnSaveEvent" value="SaveEventClick">Сохранить</button>
												<button type="button" class="btn btn-primary" id="btnDeleteEvent" name="btnDeleteEvent" value="DeleteEventClick">Удалить</button>
												<p id="txResultMsg"></p>
												<!-- HTML-код модального окна -->
												<div id="myModalBox" class="modal fade">
												  <div class="modal-dialog">
												    <div class="modal-content">
												      <!-- Заголовок модального окна -->
												      <div class="modal-header">
												      	<h4 class="modal-title">Подтверждение действия</h4>
												        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												      </div>
												      <!-- Основное содержимое модального окна -->
												      <div class="modal-body">
												        Вы действительно хотите удалить мероприятие?
												      </div>
												      <!-- Футер модального окна -->
												      <div class="modal-footer">
												        
												        <button type="button" class="btn btn-danger" id="deleteExecute">Удалить</button>
												        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
												      </div>
												    </div>
												  </div>
												</div>
											</div>
											<!-- <%= eventData[0].ID %> -->
											<% eventData.forEach(function(eventRow) { %>
												<div class="col-md-3">
													<p><label>ID: </label> <span id="eventID" data-value="<%= eventRow.ID %>"><%= eventRow.ID %></span></p>
													<p>
														<label>ID шаблона билета: </label> 
														<span id="eventID" data-value="<%= eventRow.ID %>"><%= eventRow.IDTemplate || "Не выбрано" %></span>
														<a href="/admin/tmp/download/<%= eventRow.IDTemplate %>/5348">Предпросмотр</a>
													</p>
													<p><label>Текущий статус: </label> <span id="eventIDStatus" data-value="<%= eventRow.IDStatus %>"><%= eventRow.StatusName %></span></p>
													<div class="form-group">
														<label for="eventName">Наименование:</label>
														<input type="text" class="form-control" id="eventName" value="<%= eventRow.Name %>" placeholder="название мероприятия" />
													</div>
													<div class="form-group">
														<label for="eventDateFrom">Начало:</label>
														<input type="datetime-local" class="form-control" id="eventDateFrom" value="<%= eventRow.DateFrom %>" placeholder="начало" />
													</div>
													<!--
													<div class="form-group">
														<label for="eventDateTo">Окончание:</label>
														<input type="datetime-local" class="form-control" id="eventDateTo" value="<%= eventRow.Dateto %>" placeholder="конец">
													</div>
													-->
													<div class="form-group">
														<label for="stadiumsList">Шаблон билета:</label>
														<span id="eventIDTemplate" data-value="<%= eventRow.IDTemplate %>" hidden><%= eventRow.IDTemplate %></span>
														<select name="templatesList" id="templatesList" class="form-control form-control-sm">
															<% templates.forEach(function(template) { %>
																<% if (template.ID == eventRow.IDTemplate ){ %>
																	<option value="<%= template.ID %>" selected><%= template.templateName %> (ID:<%= template.ID %>) - Выбрано</option>
																<% }else{ %>
																	<option value="<%= template.ID %>"><%= template.templateName %> (ID:<%= template.ID %>)</option>
																<% } %>
															<% }); %>
														</select>
													</div>
													<div class="form-group">
														<label for="stadiumsList">Стадион:</label>
														<span id="eventIDStadium" data-value="<%= eventRow.IDStadium %>" hidden><%= eventRow.IDStadium %></span>
														<select name="stadiumsList" id="stadiumsList" class="form-control form-control-sm">
															<option value="<%= eventRow.IDStadium %>" selected><%= eventRow.Stadium %></option>
															<% stadiums.forEach(function(stadiumRow) { %>
																<% if (stadiumRow.ID != eventRow.IDStadium ){ %>
																	<option value="<%= stadiumRow.ID %>"><%= stadiumRow.Name %></option>
																<% } %>
															<% }); %>
														</select>
													</div>
													<div class="form-group">
														<% if (eventRow.ShowOnline) { %>
															<input type="checkbox" id="eventShowOnline" checked>Показать online</input>
														<% } else { %>
															<input type="checkbox" id="eventShowOnline">Показать online</input>
														<% } %>
													</div>
													<div class="form-group">
														<% if (eventRow.ShowCasher) { %>
															<input type="checkbox" id="eventShowCasher" checked>Показать кассиру</input>
														<% } else { %>
															<input type="checkbox" id="eventShowCasher">Показать кассиру</input>
														<% } %>
													</div>
													<div class="form-group">
														<% if (eventRow.ShowAPI) { %>
															<input type="checkbox" id="eventShowAPI" checked>Показать для API</input>
														<% } else { %>
															<input type="checkbox" id="eventShowAPI">Показать для API</input>
														<% } %>
													</div>
													<!--<div class="form-group">
														<button type="button" id="btnGenerateTickets" onclick="GenerateTickets();">Генерация билетов</button>
														<p id="GenerateTicketsMSG"></p>
													</div>-->
												</div>
												<div class="col-sm-6 col-md-4">
													<div class="form-group">
														<label for="eventImage">Афиша:</label>
														<input type="file" id="eventImageFile" name="eventImageFile" style="display: none;" />
														<button class="btn btn-primary" type="button" onclick="ClickNewImg();">Сменить</button>
														<p id="eventImgMsg"></p>
														<img id="eventImage" name="eventImage" src="<%= eventRow.ImgPath %>" alt="afisha" width="250" height="350" />
													</div>
												</div>
											<% }); %>
										</form>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<h2>Назначение цен на билеты</h2>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<form name="formPrice">
												<div class="col-md-4">
													<div class="table-responsive">
														<table class="table trans">
															<thead class="text-primary">
																<tr>
																	<th>Сектор</th>
																	<th>Цена</th>
																	<th>Ряд</th>
																</tr>
															</thead>
															<tbody>
																<% if(sectors){ %>
																	<% sectors.forEach(function(seatRow) { %>
																		<tr class="clickable-row">
																			<td data-id="<%= seatRow.SectorName %>"><%= seatRow.SectorName %></td>
																			<td class="cell-price-input">
																				<input type="text" name="txPrice" class="priceInput form-control" value="<%= seatRow.Price %>"	 />
																			</td>
																			<td>
																				<select name="rowN" class="select-rowN form-control form-control-sm">
																					<% rownums[seatRow.SectorName].forEach(function(Row) { %>
																						<option value='{"rowN": <%= Row.RowN %>, "price": <%= Row.Price || "Ошибка" %>}'><%= Row.RowN %> ( <%= Row.Price || "Ошибка" %> )</option>
																					<% }); %>
																				</select>
																			</td>
																		</tr>
																	<% }); %>
																<% } %>
															</tbody>
														</table>
													</div>
												</div>
												<!-- <div class="col-md-2">
													<button type="button" id="savePrice">Сохранить цену</button>
												</div> -->
											</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script>
					$(document).ready(function(){
						GetStadiumList();
					});

					function GetStadiumList(){
						$.ajax({
							url: '/admin/stadiumsJson',
							type: "GET",
							success: function(result){
								$('select#stadiumsList').empty();
								var nEvIDStadium = $("#eventIDStadium").data("value");
								$.each(result, function(index) {
									if (result[index].ID == nEvIDStadium) {
										$('select#stadiumsList').append(
											$('<option selected></option>')
												.val(result[index].ID)
												.html(result[index].Name)
										);
									}
									else {
										$('select#stadiumsList').append(
												$('<option></option>')
												.val(result[index].ID)
												.html(result[index].Name)
										);
									}
								});
							}
						});
					};

					$("#btnSaveEvent").on('click', function(){
						var nEventID = 0;
						nEventID = $("#eventID").data("value");
						//console.log("btnSaveEvent click: nEventID="+nEventID);

						var sURL = "/admin/event/"+nEventID;

						//console.log('img src='+$('#eventImage').attr('src'));
						//console.log('eventShowOnline='+$("input[id='eventShowOnline']:checked").val());
						//console.log('eventShowCasher='+$("input[id='eventShowCasher']:checked").val());
						//console.log('eventShowAPI='+$("input[id='eventShowAPI']:checked").val());

						//---------------
						var sShowOnline = "false";
						if ($("input[id='eventShowOnline']:checked").val() === "undefined") {
							sShowOnline = "false";
						}
						else
						if (($("input[id='eventShowOnline']:checked").val() == "true")
							|| ($("input[id='eventShowOnline']:checked").val() == "on")) {
							sShowOnline = "true";
						}
						else {sShowOnline = "false";}

						//---------------
						var sShowCasher = "false";
						if ($("input[id='eventShowCasher']:checked").val() === "undefined") {
							sShowCasher = "false";
						}
						else
						if (($("input[id='eventShowCasher']:checked").val() == "true")
							|| ($("input[id='eventShowCasher']:checked").val() == "on")){
							sShowCasher = "true";
						}
						else {sShowCasher = "false";}

						//---------------
						var sShowAPI = "false";
						if (($("input[id='eventShowAPI']:checked").val() === "undefined")
							|| ($("input[id='eventShowAPI']:checked").val() == "true")) {
							sShowAPI = "false";
						}
						else
						if ($("input[id='eventShowAPI']:checked").val() == "on") {
							sShowAPI = "true";
						}
						else {sShowAPI = "false";}

						//---------------
						$.ajax({
							url: sURL,
							type: "POST",
							data: {
								postOperation: 'upd',
								eventID: $("#eventID").val(),
								eventName: $("#eventName").val(),
								eventDateFrom: $("#eventDateFrom").val(),
								stadiumID: $("select#stadiumsList").val(),
								templateID: $("select#templatesList").val(),
								eventAfisha: $('#eventImage').attr('src'),
								showOnline: sShowOnline,
								showCasher: sShowCasher,
								showAPI: sShowAPI
							},
							success: function(result){
								console.log("POST upd /admin/event/id success: result="+result);
								$("#txResultMsg").html(result);
								ClearMsg("#txResultMsg");
								//TODO: refresh page

							},
							error: function(err){
								console.log("POST /admin/event/id error:");
								console.log(err);
							}
						});
					});

					$("#btnDeleteEvent").on('click', function(){
						$("#myModalBox").modal('show');
					});
					$('#deleteExecute').on('click', function(){
						var nEventID = 0;
						nEventID = $("#eventID").data("value");
						console.log("btnDeleteEvent click: nEventID="+nEventID);
						$.ajax({
							url: "/admin/event/"+nEventID,
							type: "POST",
							data: {
								postOperation: 'del',
								eventID: $("#eventID").val(),
								eventName: $("#eventName").val(),
								eventDateFrom: $("#eventDateFrom").val(),
								stadiumID: $("select#stadiumsList").val(),
								eventAfisha: $('#eventImage').attr('src')
								},
							success: function(result){
									console.log("POST del /admin/event/id success: result="+result);
									$("#txResultMsg").html(result);
									window.location = '/admin/events';
									//--------------
									//TODO: after development this functional we must delete this command:
									ClearMsg("#txResultMsg");
									//--------------
									GetActualEventStatus();
								},
							error: function(err){
								console.log("POST /admin/event/id error:");
								console.log(err);
							}
						});
					})

					$('#rowsTable').on('click', '.clickable-row', function(event) {
					  //$(this).addClass('active').siblings().removeClass('active');
					  if($(this).hasClass('active')){
						$(this).removeClass('active');
					  } else {
						$(this).addClass('active').siblings().removeClass('active');
					  }
					});

					$('#savePrice').on('click', function () {
						var eventId = $('#eventID').data('value');
						var pricingTable = $('#rowsTable');
						var rows = pricingTable.children('tbody').children();
						var rowsAsArray = Array.from(rows);
						var resultSectors = [];
						rowsAsArray.forEach(sector => {
							var idCell = sector.children[0];
							var sectorName = idCell.innerText;
							var priceCell = sector.children[1];
							var priceInput = priceCell.children[0];
							var sectorPrice = priceInput.value;
							var resultObject = {
								name: sectorName,
								price: sectorPrice
							};
							resultSectors.push(resultObject);
						});
						var postData = {
							eventId: eventId,
							sectors: resultSectors
						};

						function showPriceSavingText(text) {
							var saveButtonWrapper = $('#savePrice').parent()[0]
							var textElement = document.createElement('p');
							textElement.innerText = text;
							saveButtonWrapper.appendChild(textElement);
						}

						function successfullySavedPrices() {
							showPriceSavingText('Успешно сохранено');
						}

						function notSavedPrices() {
							showPriceSavingText('Возникла ошибка при сохранении');
						}

						$.ajax({
									url:'/admin/updateprices',
									data: JSON.stringify(postData),
									type: 'POST',
									contentType: 'application/json; charset=utf-8',
									dataType: 'json',
									success: function (response) {
										if (response.ok === 'OK') {
											successfullySavedPrices()
										} else {
											notSavedPrices();
										}
									},
									error: function (error) {
										notSavedPrices();
										console.error('error saving price: ', error.responseText);
									}
								})
					})

					function GetActualEventStatus(){
						console.log('GetActualEventStatus::');
						var nEventID = $("#eventID").data("value");
						$.ajax({
							url: "/admin/eventGetStatus/"+nEventID,
							type: "GET",
							success: function(result){
									console.log('GetActualEventStatus success:');
									console.log(result);
									$("#eventIDStatus").attr('data-value', result[0].IDStatus);
									$("#eventIDStatus").html(result[0].StatusName);
								},
							error: function(err){
								console.log("GET GetActualEventStatus /admin/eventGetStatus/id error:");
								console.log(err);
							}
						});
					}

					function ClickNewImg(){
						$("input[id='eventImageFile']").click();
					};
					$('#eventImageFile').on('change', function(evt) {
						var sImgFileName = evt.target.files[0].name;
						let file = $('#eventImageFile').get(0).files;
						console.log('ClickNewImg:: sImgFileName='+sImgFileName);
						//$("#eventImgMsg").html("Смена картинки - в разработке");
						//--------------
						//TODO: after development this functional we must delete this command:
						//ClearMsg("#eventImgMsg");
						//--------------
						var nEventID = $("#eventID").data("value");

						var data = new FormData();
						$.each($('#eventImageFile')[0].files, function(i, file) {
							data.append('file-'+i, file);
						});
						$.ajax({
							url: "/admin/uploadeventimg",
							data: data,
							cache: false,
							contentType: false,
							processData: false,
							method: 'POST',
							//type: 'POST', // For jQuery < 1.9
							success: function(result){
								console.log("POST /admin/uploadeventimg success: result=");
								console.log(result);
								$('#eventImage').attr('src', '/images/events/'+sImgFileName);
								console.log('ClickNewImg2:: sImgFileName='+sImgFileName);
							},
							error: function(err){
								console.log("POST /admin/uploadeventimg error:");
								console.log(err);
							}
						});
					});

					function ClearMsg(msgElement){
						window.setTimeout( function(){
							$(msgElement).html("");
						}, 5000 );
					}
				</script>
			<% } else { %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

