<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="container">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
					<% include admheader %>
					<% include admmnu %>
					<div id="workArea">
						Редактирование зала (стадиона)
						<div class="container">
							<form action="/admin/stadium/<%= stadiumID %>" method="POST">
								<div class="form-group">
									<input type="submit" value="Сохранить" />
								</div>
								<% stadiumData.forEach(function(stadiumRow) { %>
									<div class="col-md-3">
										<label>ID: <%= stadiumRow.ID %><//label>
										<div class="form-group">
											<label for="stadiumName">Наименование:</label>
											<input type="text" class="form-control" id="stadiumName" value="<%= stadiumRow.Name %>" placeholder="название зала" />
										</div>
										<div class="form-group">
											<label for="citiesList">Город:</label>
											<select name="citiesList" id="citiesList">
												<option value="<%= stadiumRow.IDCity %>" selected><%= stadiumRow.CityName %></option>
												<% cities.forEach(function(cityRow) { %>
													<% if (cityRow.ID != stadiumRow.IDCity ){ %>
														<option value="<%= cityRow.ID %>"><%= cityRow.Name %></option>
													<% } %>
												<% }); %>
											</select>
										</div>
									</div>
								<% }); %>
							</form>
							<script>
								$(document).ready(){
									$.ajax({
										url: '/citiesJson',
										type: "GET",
										success: function(result){
											$.each(result, function(index) {
												if (restul[index].ID != $("#citiesList").val()) {
													$('select#citiesList').append(
														$('<option></option>')
															.val(restul[index].ID)
															.html(restul[index].Name)
													);
												}
											});
										}
									});
								}
							</script>
						</div>
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

