<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="container">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
					<% include admheader %>
					<% include admmnu %>
					<div id="workArea">
						Мероприятия
						<div class="container">
							<div class="row">
								<button id="btnCreateEvent" value='NewEvent' type="button">Создать новое</button>
								<p id="resultCreateMsg"></p>
							</div>
							<div id="workArea" class="row">
							<% if(eventsList) { %>
								<% eventsList.forEach(function(eventRow) { %>
								<div class="col-sm-6 col-md-3">
									<!--<div class="thumbnail">-->
										<a href="/admin/event/<%= eventRow.ID %>">
											<img src="<%= eventRow.ImgPath %>" width="250px" height="350px" alt="<%= eventRow.Name %>" />
										</a>
										<div class="caption">
											<span id="eventID" style="display: none;"><%= eventRow.ID %></span>
											<h3><%= eventRow.Name %></h3>
											<p><strong>Дата и время:</strong> <%= eventRow.DateFrom %></p>
											<p><strong>Место:</strong> <%= eventRow.Stadium %></p>
										</div>
									<!--</div>-->
								</div>
								<% }); %>
							<% } %>
							</div>
						</div>
					</div>
					<script>
						$("#btnCreateEvent").click(function(){
							console.log("btnCreateEvent click");
							$("#resultCreateMsg").html('Функционал создания нового мероприятия находится в разработке');
							//--------------
							//TODO: after development this functional we must delete this command:
							//ClearMsg("#resultCreateMsg");
							//--------------
							
							$.ajax({
								url: "/admin/events/",
								type: "POST",
								data: {
									postOperation: "ins"
								},
								success: function(result){
									console.log("POST /admin/events/ success");
									console.log("result="+result.ID);
									console.log(result);
									$("#resultCreateMsg").html("result.ID="+result.ID);
									if(result.ID > 0){
										window.location.replace("/admin/event/"+result.ID);
									}
								},
								error: function(err){
									console.log("btnCreateEvent POST /admin/events/ error:");
									console.log(err);
								}
							});
						});
						
						function ClearMsg(msgElement){
							window.setTimeout( function(){
								$(msgElement).html("");
							}, 5000 );
						}
					</script>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

