<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="container">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
					<% include admheader %>
					<% include admmnu %>
					<div id="workArea">
						Редактирование мероприятия
						<div class="container">
							<p id="saveResultMsg"></p>
							<form>
								<div class="form-group">
									<button id="btnSaveEvent" name="btnSaveEvent" value="Сохранить" />
								</div>
								<% eventData.forEach(function(eventRow) { %>
									<div class="col-md-3">
										<label>ID: <span id="eventID"><%= eventRow.ID %></span><//label>
										<div class="form-group">
											<label for="eventName">Наименование:</label>
											<input type="text" class="form-control" id="eventName" value="<%= eventRow.Name %>" placeholder="название мероприятия" />
										</div>
										<div class="form-group">
											<label for="eventDateFrom">Начало:</label>
											<input type="datetime-local" class="form-control" id="eventDateFrom" value="<%= eventRow.DateFrom %>" placeholder="начало" />
										</div>
										<!--
										<div class="form-group">
											<label for="eventDateTo">Окончание:</label>
											<input type="datetime-local" class="form-control" id="eventDateTo" value="<%= eventRow.Dateto %>" placeholder="конец">
										</div>
										-->
										<div class="form-group">
											<label for="stadiumsList">Стадион:</label>
											<select name="stadiumsList" id="stadiumsList">
												<option value="<%= eventRow.IDStadium %>" selected><%= eventRow.Stadium %></option>
												<% stadiums.forEach(function(stadiumRow) { %>
													<% if (stadiumRow.ID != eventRow.IDStadium ){ %>
													<option value="<%= stadiumRow.ID %>"><%= stadiumRow.Name %></option>
													<% } %>
												<% }); %>
											</select>
										</div>
										<div class="form-group">
											<button onclick="GenerateTickets();">Генерация билетов</button>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="eventImage">Афиша:</label><button onclick="ClickNewImg();">Сменить</button>
											<img id="eventImage" src="../../images/events/<%= eventRow.ImgPath %>" alt="afisha" width="200" height="300" />
										</div>
									</div>
								<% }); %>
							</form>
							<script>
								$(document).ready(){
									$.ajax({
										url: '/stadiumsJson',
										type: "GET",
										success: function(result){
											//$('select#stadiumsList').empty();
											$.each(result, function(index) {
												if (restul[index].ID != $("#stadiumsList").val()) {
													$('select#stadiumsList').append(
														$('<option></option>')
															.val(restul[index].ID)
															.html(restul[index].Name)
													);
												}
											});
										}
									});
								}
								$("#btnSaveEvent").click(function(){
									$("#saveResultMsg").html("saving...");
									var nEventID = $("#eventID").val();
									$.ajax({
										url: "/admin/event/"+nEventID,
										type: "POST",
										success: function(result){
											$("#saveResultMsg").html(result);
											//$('select#stadiumsList').empty();
											/*$.each(result, function(index) {
												if (restul[index].ID != $("#stadiumsList").val()) {
													$('select#stadiumsList').append(
														$('<option></option>')
															.val(restul[index].ID)
															.html(restul[index].Name)
													);
												}
											});*/
										}
									});
								});
								function ClickNewImg(){
									alert('test');
									return;
								}
								function GenerateTickets(){
									var sEventID = $("#eventID").val();
									$.ajax({
										url: '/generateTickets',
										type: "POST",
										data: {
											eventID: sEventID
										},
										success: function(result){
											alert('Генерация билетов завершена');
											//$('select#stadiumsList').empty();
											/*$.each(result, function(index) {
												if (restul[index].ID != $("#stadiumsList").val()) {
													$('select#stadiumsList').append(
														$('<option></option>')
															.val(restul[index].ID)
															.html(restul[index].Name)
													);
												}
											});*/
										}
									});
								}
							</script>
						</div>
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

