<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		<script src="/javascripts/filter.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
				<% include admheader %>
				</div>
				<div class="col-sm-2">
					<% include admmnu %>
				</div>
				<div id="workArea" class="col-sm-10">
					<h3>Список абонементов</h3>
					<small><a href="/admin/abonements/add">Добавить абонемент</a></small>


					<div class="wrapper">
						<table class="table trans">
							<thead>
								<th scope="col">ID</th>
								<th scope="col">Цена</th>
								<th scope="col">Трибуна и сектор</th>
								<th scope="col">Ряд</th>
								<th scope="col">Место</th>
								<th scope="col">SeatID</th>
								<th scope="col">IDs мероприятий</th>
							</thead>
							<tbody>
								<% abonList.forEach(function(abonRow) { %>
									<tr>
										<td scope="row"><%= abonRow.ID %></td>
										<td><%= abonRow.Price %></td>
										<td><%= abonRow.SectorName %></td>
										<td><%= abonRow.RowN %></td>
										<td><%= abonRow.SeatN %></td>
										<td><%= abonRow.SeatID %></td>
										<td><%= abonRow.evensIDs %></td>
										
										
									</tr>
								<% }); %>
							</tbody>
						</table>
					</div>
					
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

