<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		<script src="/javascripts/filter.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<% if(adminLogin){ %>
				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
					<% include admmnu %>
				</div>
				<div id="workArea" class="main-panel">
					<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-end">
								<ul class="navbar-nav">
									<% include admheader %>
								</ul>
							</div>
						</div>
					</nav>
					<div id="workArea" class="content">
						<div class="container-fluid">
							<div class="col-md-12">
								<h2>Мероприятия</h2>
							</div>
							<div class="col-md-12">
								<a class="btn btn-primary btn-create-event" href="/admin/events/new">Создать новое</a>
								<p id="resultCreateMsg"></p>
							</div>
							<% if(eventsList) { %>
								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<div class="table-responsive">
												<table class="table trans">
													<thead class="text-primary">
														<th scope="col">ID</th>
														<th scope="col">Название</th>
														<th scope="col">Дата и время</th>
														<th scope="col">Статус</th>
														<th scope="col">Афиша</th>
														<th scope="col">Функции</th>
													</thead>
													<tbody>
														<% eventsList.forEach(function(eventRow) { %>
															<tr>
																<td scope="row">
																	<a href="/admin/event/<%= eventRow.ID %>"><span id="eventID<%= eventRow.ID %>"><%= eventRow.ID %></span></a>
																</td>
																<td>
																	<a href="/admin/event/<%= eventRow.ID %>"><%= eventRow.Name %></a>
																</td>
																<td>
																	<a href="/admin/event/<%= eventRow.ID %>"><%= eventRow.DateFrom %></a>
																</td>
																<td>
																	<a href="/admin/event/<%= eventRow.ID %>"><%= eventRow.StatusName %></a>
																</td>
																<td>
																	<a href="<%= eventRow.ImgPath %>" target="_blank">
																		<img src="<%= eventRow.ImgPath %>" width="50px" height="50px" alt="<%= eventRow.Name %>" />
																	</a>
																</td>
																<td scope="row">
																	<div class="row justify-content-left">
																		<div class="col-lg-4 col-6">
																			<a class="btn btn-danger btn-sm" href="/admin/event/archive/<%= eventRow.ID %>">В архив</a>
																		</div>
																		<div class="col-lg-4 col-6">
																			<a class="btn btn-success btn-sm" href="/admin/event/clone/<%= eventRow.ID %>">Копия</a>
																		</div>
																	</div>
																	
																</td>
															</tr>
														<% }); %>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							<% } %>
						</div>
					</div>
				</div>
				<script>

					$("#btnCreateEvent").click(function(){
						console.log("btnCreateEvent click");
						$("#resultCreateMsg").html('Создание нового мероприятия...');
						//--------------
						//TODO: after development this functional we must delete this command:
						//ClearMsg("#resultCreateMsg");
						//--------------

						$.ajax({
							url: "/admin/events/",
							type: "POST",
							data: {
								postOperation: "ins"
							},
							success: function(result){
								console.log("POST /admin/events/ success");
								console.log("result.ID="+result.ID+", ResultMsg="+result.ResultMsg);
								console.log(result);
								//$("#resultCreateMsg").html("result.ID="+result.ID);
								if(result.ID > 0){
									window.location.replace("/admin/event/"+result.ID);
								}
								else {
									$("#resultCreateMsg").html('Неизвестная ошибка при создании нового мероприятия');
									ClearMsg("#resultCreateMsg");
								}
							},
							error: function(err){
								console.log("btnCreateEvent POST /admin/events/ error:");
								console.log(err);
								$("#resultCreateMsg").html('При создании нового мероприятия возникла ошибка: '+err);
								//ClearMsg("#resultCreateMsg");
							}
						});
					});

					function ClearMsg(msgElement){
						window.setTimeout( function(){
							$(msgElement).html("");
						}, 5000 );
					}
				</script>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>
