<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="wrapper">
			<% if(adminLogin){ %>
				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
					<% include admmnu %>
				</div>
				<div id="workArea" class="main-panel">
					<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-end">
								<ul class="navbar-nav">
									<% include admheader %>
								</ul>
							</div>
						</div>
					</nav>
					<div id="workArea" class="content">
						<div class="container-fluid">
							<div class="col-md-12">
								<h2>Добавление абонемента</h2>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<form method="POST">
											<div class="row" style="height: 200px; overflow-y: auto; width: 400px; border: 1px solid #ccc; margin-left: 0px; padding: 10px 0">
											<% evensList.forEach(function(evenRow) { %>
												<div class="col-12">
													<div class="form-check">
												        <label class="form-check-label">
												            <input class="form-check-input" name="evens" type="checkbox" value="<%= evenRow.ID %>">
												            	<%= evenRow.Name %>
												            <span class="form-check-sign">
												                <span class="check"></span>
												            </span>
												        </label>
												    </div>
												</div>
											
												<!-- <div class="col-12">
													<label class="custom-control custom-checkbox">
														<input type="checkbox" name="evens" value="<%= evenRow.ID %>">
														<span class="custom-control-indicator"></span>
														<span class="custom-control-description"><%= evenRow.Name %></span>
													</label>
												</div> -->
											<% }); %>
											</div>
											<div class="form-group">
												<label>Цена: </label>
												<input class="form-control" type="text" name="price">
											</div>
											<!-- <div class="form-group">
												<label>Трибуна</label>
												<input class="form-control" type="text" name="tribune">
											</div> -->
											<div class="form-group">
												<label>Стадион</label>
												<!-- <input type="text" class="form-control IDStadium" name="stadium" value="1"> -->
												<select name="stadium" class="form-control form-control-sm IDStadium stadiums">
													<% stadiums.forEach(function(stadium) { %>
														<option value='<%= stadium.ID %>'><%= stadium.Name %> (ID:<%= stadium.ID %>)</option>
													<% }); %>
												</select>
											</div>
											<div class="form-group sector-group">
												<label>Сектор</label>
												<!-- <input class="form-control" type="text" name="sector"> -->
												<select name="sector" class="select-rowN form-control form-control-sm sectors">
													<!-- <% seats.forEach(function(seat) { %>
														<option value='<%= seat.SectorName %>'><%= seat.SectorName %></option>
													<% }); %> -->
												</select>
											</div>
											<div class="form-group row-group">
												<label>Ряд</label>
												<!-- <input type="text" class="form-control" name="row"> -->
												<select name="row" class="select-rowN form-control form-control-sm rows">
														<!-- <option value='1'>1</option> -->
												</select>
											</div>
											<div class="form-group seat-group">
												<label>Место</label>
												<!-- <input class="form-control" type="text" name="seat"> -->
												<select name="seat" class="select-rowN form-control form-control-sm seats">
														<!-- <option value='1'>1</option> -->
												</select>
											</div>	
											<button type="submit" class="btn btn-success">Создать абонемент</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
		<script>
			$(document).ready(function(){

				$('.stadiums').change(function(){
					 $.post('/admin/abonements/get/sectors', {
				          IDStadium: $(this).val(),
				        }, function (stadiums) {
				        	$('.seats').empty();
				        	$('.rows').empty();
				        	$('.sectors').empty();
				        	if (! (stadiums.length > 0) ){
				        		alert("Ошибка, стадион не подготовлен, выбирите другой!");
				        		$('.seats').hide();
				        		$('.rows').hide();
				        		$('.sectors').hide();
				        		return;
				        	}
				        	else {
				        		$('.seats').show();
				        		$('.rows').show();
				        		$('.sectors').show();
				        	}
				            stadiums.forEach(function(item){
				           	  var string = "<option value='" + item.SectorName + "'>" + item.SectorName + "</option>"
				           	  $('.sectors').append(string);
				            })
				        });
				})
				$('.sectors').change(function(){
					 $.post('/admin/abonements/get/rown', {
				          SectorName: $(this).val(),
				          IDStadium: $('.IDStadium').val()
				        }, function (rows) {
				        	$('.rows').empty();
				        	$('.seats').empty();
				            rows.forEach(function(item){
				           	  var string = "<option value='" + item.RowN + "'>" + item.RowN + "</option>"
				           	  $('.rows').append(string);
				            })
				        });
				})
				$('.rows').change(function(){
					 $.post('/admin/abonements/get/seatn', {
				          SectorName: $('.sectors').val(),
				          RowN: $('.rows').val(),
				          IDStadium: $('.IDStadium').val(),
				        }, function (seats) {
				
				        	$('.seats').empty();
				            seats.forEach(function(item){
				           	  var string = "<option value='" + item.SeatN + "'>" + item.SeatN + "</option>"
				           	  $('.seats').append(string);
				            })
				        });
				})
			})
		</script>
	</body>
</html>

