<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="wrapper">
			<h1><%= title %></h1>
			<% if(adminLogin){ %>
				<div>
				<% include admheader %>
				</div>
				<div class="col-sm-2">
					<% include admmnu %>
				</div>
				<div id="workArea" class="col-sm-10">
					Редактирование зала (стадиона)
					<div class="wrapper">
						<form action="/admin/stadium/<%= stadiumID %>" method="POST">
							<div class="form-group">
								<input type="submit" value="Сохранить" />
							</div>
							<% stadiumData.forEach(function(stadiumRow) { %>
								<div class="col-md-3">
									<label>ID: <%= stadiumRow.ID %><//label>
									<div class="form-group">
										<label for="stadiumName">Наименование:</label>
										<input type="text" class="form-control" id="stadiumName" value="<%= stadiumRow.Name %>" placeholder="название зала" />
									</div>
									<div class="form-group">
										<label for="citiesList">Город:</label>
										<span id="stadiumCityID" hidden><%= stadiumRow.IDCity %></span>
										<select name="citiesList" id="citiesList">
											<option value="<%= stadiumRow.IDCity %>" selected><%= stadiumRow.CityName %></option>
											<% cities.forEach(function(cityRow) { %>
												<% if (cityRow.ID != stadiumRow.IDCity ){ %>
													<option value="<%= cityRow.ID %>"><%= cityRow.Name %></option>
												<% } %>
											<% }); %>
										</select>
									</div>
								</div>
							<% }); %>
						</form>
						<script>
							$(document).ready(function(){
								$('select#citiesList').empty();
								$.ajax({
									url: '/admin/citiesJson',
									type: "GET",
									success: function(result){
										$.each(result, function(index) {
											
											if (result[index].ID == $("#stadiumCityID").val()) {
												$('select#citiesList').append(
														$('<option selected></option>')
														.val(result[index].ID)
														.html(result[index].Name)
												);
											}
											else {
												$('select#citiesList').append(
														$('<option></option>')
														.val(result[index].ID)
														.html(result[index].Name)
												);
											}
										});
									}
								});
							});
						</script>
					</div>
				</div>
			<% } else{ %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>

