<!DOCTYPE html>
<html>
  <head>
	<% include head_html %>
  </head>
  <body>
    <div class="Container">
		<h1>Мероприятия</h1>
		
			<div>
				<% if(userLogin){ %>
				<% include mainheader %>
				<% } %>
				<br />
				<div id="workArea" class="row">
					<% if(eventsList) { %>
						<% eventsList.forEach(function(eventRow) { %>
						<div class="col-sm-6 col-md-3">
							<!--<div class="thumbnail">-->
								<a href="/event/<%= eventRow.ID %>">
									<img src="<%= eventRow.ImgPath %>" width="250px" height="350px" alt="<%= eventRow.Name %>" />
								</a>
								<div class="caption">
									<h3><%= eventRow.Name %></h3>
									<p><strong>Дата и время:</strong> <%= eventRow.DateFrom %></p>
									<p><strong>Место:</strong> <%= eventRow.Stadium %></p>
								</div>
							<!--</div>-->
						</div>
						<% }); %>
					<% } %>
				</div>
			</div>
		
	</div>
  </body>
</html>
